# Import libraries

In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Import Data

In [2]:
df = pd.read_csv('Q7 (1).csv')
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [3]:
df['Points'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0     3.90
1     3.90
2     3.85
3     3.08
4     3.15
5     2.76
6     3.21
7     3.69
8     3.92
9     3.92
10    3.92
11    3.07
12    3.07
13    3.07
14    2.93
15    3.00
16    3.23
17    4.08
18    4.93
19    4.22
20    3.70
21    2.76
22    3.15
23    3.73
24    3.08
25    4.08
26    4.43
27    3.77
28    4.22
29    3.62
30    3.54
31    4.11
Name: Points, dtype: float64>

## Mean

In [4]:
df.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

## Median

In [5]:
df.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

## Standard Deviation

In [6]:
df.std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

## Variance

In [7]:
df.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [9]:
df.max()

Unnamed: 0    Volvo 142E
Points              4.93
Score              5.424
Weigh               22.9
dtype: object

## Range

In [10]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [11]:
Points_range = df['Points'].max() - df['Points'].min()
Score_range = df['Score'].max() - df['Score'].min()
Weigh_range = df['Weigh'].max() - df['Weigh'].min()

print(Points_range)
print(Score_range)
print(Weigh_range)

2.17
3.9110000000000005
8.399999999999999